/* This is an example of how to import a partial scss file*/
@import './_variables';
* {
    font-family: $mainFont
}

.login-page {
  display: flex;
  margin: 5%;
  background-color: #f1f1f1;
  @include setDimensions(30vh, 35vw);
  padding: 5%;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.signin {
  margin: 0 0 1em 0;
}

#username, #password {
  margin: 5% 0 5% 0;
}

#loginBtn {
  width: 75%;
  margin-right: 20%;
}

.login-container {
  @include displayFlex(column, center, nowrap);
  margin: 5em;
  @include setDimensions(15vh, 25vw);
}

body {
  background: $nav-background;
  background-size: cover;
  display:flex;
}

.booking-section {
  text-align: center;
}

.user-info {
  @include setDimensions(20vh, 25vw);
  padding: 1em;
  margin: 2em;
}

.new-trip-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
}

input, .destination-input {
  @include setDimensions(2em, 75%);
}

#submitNewTripBtn {
  display: flex;
  align-content: flex-end;
  justify-content: center;
  width: 10em;
  margin: 1em 0 1em 33%;
}

main {
  @include displayFlex(column, flex-end, nowrap);
  width: 100%;
  padding-left: 0.5em;
  text-align: center;
}

h1 {
  margin: 0.5em 0;
}

.new-trip-form {
  @include displayFlex(column, center, nowrap);
}

.date-input, .number-of-days-input, .destination-input {
  margin: 0 0 0 3em;
}


.number-of-travelers-input {
  margin: 0 0 3em 3em;
}

.trip {
  position: relative;
  text-align: center;
  @include setDimensions(40vh, 100%);
}

.trip-container {
  display: flex;
  @include setDimensions(100%, 100%);
  margin: 10px;
  border-radius: 15px;
}

.trip-heading-container {
  @include displayFlex(row, space-between, nowrap);
  left: 5px;
  top: 25%;
  margin: 5%;
  background-color: #f1f1f1;
  @include setDimensions(15vh, 25vw);
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  margin: 2em;
}

.trip-destination, .trip-status {
  text-size-adjust: 1em;
  margin: 0.7em;
}

.trip-information {
  @include displayFlex(column, space-around, nowrap);
  position: absolute;
  right: 5px;
  margin: 5%;
  padding: 1.2em;
  background-color: #f1f1f1;
  @include setDimensions(20vh, 20vw);
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.trip-img {
  @include displayFlex(column, flex-start, nowrap);
  @include setDimensions(40vh, 100%);
  position: absolute;
  object-fit: cover;
  z-index: -1;
  border-radius: 15px;
}

p {
  display: block;
  padding: 0.2em;
  margin: .1em;
}

.profile-pic {
  width:10%;
  height:10%;
}

.hidden {
  display: none !important;
} 